<html>
    <body>
        <h1>Hello {{recipient }}!</h1>

        <form method="post" id="formlogin" action="../cavallo"
        enctype="application/x-www-form-urlencoded">
						
            Username: &ensp;<input name="username" value="" id="username"><br><br>
            Password: &emsp;<input type="password" name="password" value="" id="password"><br><br>
            
            
            <a href="index.php?controller=registrazione&task=default">Non sono registrato</a>
&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<input type="submit" class="button" value="Login" id="tastologin"/>
            <p><span id="messaggio"></span></p>
        
        </form>

	<a href="./Andrea">Saluta Andrea</a>
    </body>
</html>